@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
        url("..fonts/Roboto.ttf") format("ttf");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 600;
    src: local("Roboto"),
        url("..fonts/Roboto.ttf") format("ttf");
}
@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 600;
    src: local("Gotham"),
        url("..fonts/GothamRounded-Bold.otf") format("otf");
}


 
* {
    margin: 0;
    padding: 0;
}
/*Container*/
.container {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    font-size: 16px;
    font-family: "Roboto";
    text-align: center;
}
/*Header*/
header {
    margin: 0 auto;
    width: 100%;
    height: 80px;
    background-color: #ffffff;
    font-size: 18px;
    font-family: inherit;
    color: #5ebdaa;
}

header ul {
    display: inline-flex;
}

header ul li {
    margin: 0px 32px;
    line-height: 80px;
    text-transform: uppercase;
}

header ul li a{
    color: #5ebdaa;
    text-decoration: none;
}

/*Img block*/
.ImgBlock {
    width: 100%;
    height: 790px;
    margin: 0px 0px 57px 0px;
}

/*Main*/
main {
    text-align: center;
    width: 100%;
    font-family: inherit;
    background-color: #f5f6f7;
}

h1 {
    text-transform: uppercase;
    font-family: inherit;
    font-size: 22px;
}

.justtext p{
    font-family: inherit;
    font-size: 16px;
    line-height: 1.8;
    padding-left: 112px;
    padding-right: 112px;
    margin: 0px auto 57px auto;
    color: #373737;
    font-weight: 600;
    letter-spacing: 2px;
}
button{
    margin-top: 45px;
    margin-bottom: 90px;
    background: #16a085;
     height:50px;
     width:200px;
     padding: 5px 9px;
     color: #ffffff;
     -moz-border-radius:  3px; 
     -webkit-border-radius:  3px;
     border-radius: 3px;
     border: 0px;
     font-family: "Gotham";
     font-weight: 400;
}
footer
{
    margin-top: 35px;
    margin-left: 105px;
    width: 100%;
    max-width: 1050px;
    height: 100px;
    font-family: inherit;
    background-color: #fff;
    display:block;
    font-family: "Roboto";
    text-align: left;
}
.footer-nav a
{
    text-align: left;
    text-decoration: none;
    width: 100%;
    font-size: 15px;
    color:#373737;
    font-weight: 400;
}
.copyright
{
    width: 100%;
    font-size: 13px;
    color:#373737;
    font-weight: 600;
    text-align: right;
}
